*{
    margin: 0px;
    padding: 0px;

}
.main{
    background-image: url("./assets/images/bg.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
}
.main .box{
    height: 80vh;
    background-color: black;
    opacity: 0.44;
    width: 100%;
    position: absolute;
    top: 0;

}
nav{
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;

}
.hero{
    font-family:'Martel Sans',sans-serif
}

